-#  This file is app/views/movies/index.html.haml
%div#header
  %span#head-text Instructional and Research Computer Systems

%h1 EECS Dashboard

%p <a href="http://iris.berkeley.edu">View Storage</a>

%p <a href="http://iris.berkeley.edu">View Billing Information</a>

%p <a href="http://iris.berkeley.edu">View Your Dependants</a>

%p <a href="http://iris.berkeley.edu">View Quota</a>

